<!DOCTYPE html>
<html lang="en">

<body>
    <div class="col-md-12 container-fluid text-center">
        <div class="col-md-8 container-fluid text-center">
            <form>
            <!-- Character Details such as name, alignment, player's name and background -->
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Character Name</span>
                                </label>
                            </td>
                            <td>
                                <input class="btn-block" type="text" placeholder="Character's Name" id="char_name" name="char_name">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Alignment</span>
                                </label>
                            </td>
                            <td>
                                <select class="selectpicker btn-block" id="alignment">
                                    <option>Lawful Good</option>
                                    <option>Chaotic Good</option>
                                    <option>True Good</option>
                                    <option>Lawful Neutral</option>
                                    <option>Chaotic Neutral</option>
                                    <option>True Neutral</option>
                                    <option>Lawful Evil</option>
                                    <option>Chaotic Evil</option>
                                    <option>True Evil</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Player Name</span>
                                </label>
                            </td>
                            <td>
                                <input class="btn-block" type="text" placeholder="Player's Name" id="player_name" name="player_name">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Background</span>
                                </label>
                            </td>
                            <td>
                                <input class="btn-block" type="text" placeholder="(Previous occupance)" id="background" name="background">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Stats for the player -->
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <button class="button btn-block btn-danger btn-xs" id="button_roll">
                                Roll
                            </button>
                        </tr>
                        <tr>
                            <td>
                                <select class="selectpicker btn-block" id="attr">
                                    <option>Strength</option>
                                    <option>Dexterity</option>
                                    <option>Constitution</option>
                                    <option>Intelligence</option>
                                    <option>Wisdom</option>
                                    <option>Charisma</option>
                                </select>
                            </td>
                            <td>
                                <select class="selectpicker btn-block" id="Score">
                                </select>
                            </td>
                            <td>
                                <button class="button btn-block btn-m" disabled="true" id="button_add">
                                    Add
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="button button-block" id="button_test" type="Submit">
                    Save Details
                </button>
            </form>
        </div>
        <div class="col-md-4 container-fluid text-center">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td><label class="item item-input item-stacked-label">
                                    <span class="input-label">Strength</span>
                                </label>
                            </td>
                            <td><label class="item item-input item-stacked-label">
                                    <span class="input-label" id="strength">0</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="item item-input item-stacked-label">
                                    <span class="input-label">Dexterity</span>
                                </label>
                            </td>
                            <td><label class="item item-input item-stacked-label">
                                    <span class="input-label" id="dexterity">0</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="item item-input item-stacked-label">
                                    <span class="input-label">Constitution</span>
                                </label>
                            </td>
                            <td><label class="item item-input item-stacked-label">
                                    <span class="input-label" id="constitution">0</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="item item-input item-stacked-label">
                                    <span class="input-label">Intelligence</span>
                                </label>
                            </td>
                            <td><label class="item item-input item-stacked-label">
                                    <span class="input-label" id="intelligence">0</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="item item-input item-stacked-label">
                                    <span class="input-label">Wisdom</span>
                                </label>
                            </td>
                            <td><label class="item item-input item-stacked-label">
                                    <span class="input-label" id="wisdom">0</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="item item-input item-stacked-label">
                                    <span class="input-label">Charisma</span>
                                </label>
                            </td>
                            <td><label class="item item-input item-stacked-label">
                                    <span class="input-label" id="charisma">0</span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $("#char_name").val(pc.char_name);
        $("#player_name").val(pc.player_name);
        $("#alignment").val(pc.alignment);
        $("#background").val(pc.background);
    });

    $("#button_test").click(function(e) {
        e.preventDefault();
        pc.char_name = $("#char_name").val();
        pc.player_name = $("#player_name").val();
        pc.alignment = $("#alignment").val();
        pc.background = $("#background").val();

    });

    $("#button_roll").click(function(e) {
        e.preventDefault();
        for (var i = 1; i < 7; i++) {
            $('#Score').append(getIdentifiedOptionTag("opt"+i,getStandardRoll()));   
        }
        $('#button_add').prop('disabled',false);
        $('#button_roll').prop('disabled',true);

    });

    function getStandardRoll(){
        var roll = [];
        var finalRoll = 0;
        for (var i = 0; i < 4; i++) {
            roll.push(Math.floor((Math.random()*6)+1));
        }
        roll.sort(function(a,b){return b-a});
        roll.pop();
        for (var i = 0; i < roll.length; i++) {
            finalRoll += roll[i];
        }
        return finalRoll;
    }

    function getIdentifiedOptionTag(id,value){
        return '<option id="' + id + '"">' + value +'</option>';
    }





      $("#button_add").click(function(e) {
        e.preventDefault();
        setAttributeValue($('#attr').val().toLowerCase(),$('#Score').val());
        removeSelectedScoreFromList();
        removeSelectedAttributeFromList();
        
    });

    function removeSelectedScoreFromList(){
        $("#Score option:selected").remove();
    }

    function removeSelectedAttributeFromList(){
        $("#attr option:selected").remove();
        
    }


    function setAttributeValue(attribute,value){
        console.log("setAttributeValue("+attribute+","+value+")");
        switch(attribute){
            case 'strength':
                $('#strength').text(value);
                console.log("Stat: " + value);
                pc.strength = value;
                break;
            case 'dexterity':
                $('#dexterity').text(value);
                pc.dexterity = value;
                break;
            case 'constitution':
                $('#constitution').text(value);
                pc.constitution = value;
                break;
            case 'intelligence':
                $('#intelligence').text(value);
                pc.intelligence = value;
                break;
            case 'wisdom':
                $('#wisdom').text(value);
                pc.wisdom = value;
                break;
            case 'charisma':
                $('#charisma').text(value);
                pc.charisma =value;
                break;
        }
    }





    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
</body>

</html>
