<!DOCTYPE html>
<html lang="en">
<body>
    <div class="jumbotron text-center">
        <h1>Home page</h1>
    </div>
    <div class="container">
        <div class="row text-center">
            <form method="POST" action="/perms">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name" name="userinput">
                </label>
                <button class="button button-block" type="Submit">
                    Submit
                </button>
            </form>
    </div>
</body>

</html>
