<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <div class="row text-left">
            <!-- Legal Text -->
            <h2>Dungeons and Dragons</h2>
            <p>Wizards of the Coast, Dungeons and Dragons, and their logos are trademarks of Wizards of the Coast LLC in the United States and other countries. © 2015 Wizards. All Rights Reserved.
This webapp is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. This webapp may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is permitted under Wizards' <a href="http://dnd.wizards.com/articles/features/fan-site-kit">Fan Site Policy</a> . For example, Dungeons and Dragons® is a trademark of Wizards of the Coast. For more information about Wizards of the Coast or any of Wizards' trademarks or other intellectual property, please visit their website at <a href="http://www.wizards.com/">www.wizards.com</a>.</p>
            <!-- Want more? -->
            <h2>Looking for more Races/Classes?</h2>
            <p>The Races and Classes used in this Character Creation App are the ones that you can obtain for free in the Dungeons and dargons website. For more diverse Races and classes we encourage you to buy the Player Character Handbook!</p>
            <!-- The Project -->
            <h2>The DnD 5e Character Creation Project</h2>
            <p>This webapp has been created for Data Representation's and Querying Module for 3rd Year Software Development at Galway-Mayo Technical Institute in Ireland. The main goal was to create a single web page application using Python, Flask, Bootstrap, and in this case JQuery. It also uses MongoDB as a database!</p>
            <!-- About me -->
            <h2>About the author</h2>
            <p>This webapp has been developed by @rndmized.</p>
    </div>
</body>
</html>
