<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Title Box -->
    <div class="jumbotron text-center">
        <h1>Dungeons And Dragons</h1>
        <h2>5th Edition Character Editor</h2>
    </div>
    <div class="container">
        <div class="row text-center">
            <!-- Welcome Text -->
            <h2>Welcome to DnD Character Creator</h2>
            <p>Never has been easier to play Dungeons and Dragons. Since the lastest edition came out, DnD has come back to its roots and simplified its rules in a great manner. This character editor allows you to create a character from scratch in less than 5 minutes! Of course, only the mechanical part! You still have to think about your character bacground, equipment, spells. Your DM will help you with that! Even if you're a experienced player or a DM this tool will help you to create a character in minutes, ideal to create NPC's and companions.</p>
            <!-- Usage -->
            <h2>Intuitive and Easy to Use</h2>
            <p>The editor is divided in four parts: Details, Race, Class and Character sheet. If you want to create another character you just have to refresh!</p>
            <h3>Details</h3>
            <p>In details you can roll the dice and link every stat to a roll. Type your character name, alignment, player name and backgroud of your character.</p>
            <h3>Race</h3>
            <p>Just click on a race to read about it or use the radio button to select it!</p>
            <h3>Class</h3>
            <p>Click on any Class to learn what it is about and slect the one that suits your character!</p>
            <h3>Character Sheet</h3>
            <p>Character sheet will render your sheet with the selected options. You can even change it several times if you change your mind!(Remember! You can right click and download it tou your pc, phone or tablet and even print it on paper!)</p>
            <!-- Enjoy -->
            <h2>Enjoy!</h2>
            <p>Now you have the means, there is no excuse! Start from today and for free!</p>
    </div>
</body>
</html>
